<div id="grid-view">
    <div class="title">
        <span class="title-text">
            {{title}}
        </span>
    </div>
    <div id="vert-bar" #parentVert>
        <app-stacked-vert-bar-chart [parent]="parentVert" [chartData]='vartChartData' [data]="vartData">
        </app-stacked-vert-bar-chart>
    </div>
    <div class="line-of-progress">
        <div class="line" [style.width]="width">
        </div>
    </div>
    <div class="amount">
        <span class="amount-text">
            $ {{amount}}
            <span [ngClass]=" isPercentagePositive ? 'percentage-green' :'percentage-red'">
                {{percentage}}%
            </span>
        </span>
    </div>
</div>