#grid-view{
    display: grid;
    grid-template-columns: 20% 25% 20% 35%;
    box-shadow: 0 2px 2px -2px gray;
}
.title{
  text-align: center;
  margin: auto;
}
.title-text{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size:15px;
}


.amount{
  text-align: center;
  margin: auto;
}
.amount-text{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}
.percentage-green{
    color: green;
}
.percentage-red{
    color: red;
}

#horiz-bar{
    width: 100px;
    height: 50px;
}
#vert-bar{
    width: 100px;
    height: 50px;
}
.line-of-progress{
    display: flex;
    align-content: center;

}
.line{
    height: 70%;
    background-color: black;
    display: inline-block;
    align-self: center;
    background-color: #9f9f9f;
}