#grid-view{
    display: flex;
    flex-wrap:wrap;
    width: 100%;
    height: 100%;
}
#multi-data-chart{
    padding: 10px;
    width: 30%;
    height: 50%;
}
#horiz-bar{
    padding: 10px;
    width: 30%;
    height: 50%;
}

#area-chart{
    padding: 10px;
    width: 30%;
    height: 50%;
}

#vert-bar{
    padding-top: 30px;
    width: 90%;
    height: 50%;
}
.chart-parent{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    #horiz-bar{
        width: 100%;
        height: 90%;
    }
    #multi-data-chart{
        width: 100%;
        height: 90%;
    }
    
    #area-chart{
        width: 100%;
        height: 90%;
    }
  }