<div id="grid-view">
  <div id="horiz-bar">
    <div class="chart-parent" #horizBar>
      <app-group-horiz-bar-chart [canSelect]="true" [parent]="horizBar" [chartData]='groupBarChartData'
        [data]="groupBarData">
      </app-group-horiz-bar-chart>
    </div>
  </div>
  <div id="area-chart">
    <div class="chart-parent" #areaChart>
      <app-stacked-area-chart [canSelect]="true" [parent]="areaChart" [chartData]='stackAreaChartData'
        [data]="stackAreaData">
      </app-stacked-area-chart>
    </div>
  </div>

  <div id="multi-data-chart">
    <app-multi-data-chart [chartsData]="chartsData">
    </app-multi-data-chart>
  </div>
  <div id="vert-bar">
    <div class="chart-parent" #vertBar>
      <app-stacked-vert-bar-chart [canSelect]="true" [parent]="vertBar" [chartData]='stackBarChartData'
        [data]="stackBarData">
      </app-stacked-vert-bar-chart>
    </div>
  </div>
</div>